.social-media-button {

        border: 1px solid #DDE5ED !important;
        border-radius: 4px !important;
        background:none !important;
        font-size: 13px  !important;
        color: #101654  !important;

}
