.navigation-button {
	margin-top: 12px;
	height: 38px;
	display: flex;
	flex-direction: row;
    cursor: pointer;
    //background-color: #dde5ed;
    border-radius: 17px;
	&:hover {
		
	//	background-color: #002DB0;
	}
	.button-icon-container {
		width: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.button-text {
        display: none;
		color: #111651;
		flex: 1;
		display: flex;
		align-items: center;
	}
}
